h1 {
    color: red;
    text-align: center;
    border: 2px dashed red;
    padding: 10px;
}

p {
    font-family: 'Times New Roman', serif;
    color: rgb(20, 4, 22);
    line-height: 1.5;
    margin: 20px;
}

.circle {
    border: red solid 1px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    margin: auto;
}
