* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin: 0.5rem;
}

nav {
    border: 2px solid #000;
    border-radius: 2rem;
    margin: 1rem auto 1rem;
    font-size: 2rem;
    line-height: 5rem;
}

h1 {
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px solid #000;
}

li a {
    display: block;
}

li a,
li a:visited {
    text-decoration: none;
    color: black;
}

li a:hover,
li a:focus {
    background-color:rgb(195, 39, 39);
}

li:last-child a{
    border-radius: 0 0 2rem 2rem;
}

p a {
    text-decoration: none;
}